/* palette {
  lilac: #C8A2C8;
  indigo-dye: #08415C;
  indian-red: #DD5560;
  bisque: #FAE3C6;
  electric-blue: #8DF5F7;
}
 */

 body { 
  background-image: url(./images/949A9275.jpg);
  background-size: cover;
  background-color: #08415C;

}


.main-container {
  display: grid;

  grid-template-columns: 10vw 20vw 20vw 20vw 15vw 10vw;
  grid-template-rows: 5vh 20vh 20vh 21vh 21vh 5vh;
  gap: .5vw .25vh; 
  grid-template-areas: 
    ". . . .   .    ."
    ". . . .   .    ."
    ". . . .   .    ."
    ". . . . navbar ."
    ". . . . navbar ."
    ". . . .   .    .";
  border: .25rem double #DD5560;

  background-color: transparent;
}

#second {
  grid-area: header;
  display: flex;
  background-image: url(./images/949A9275.jpg);
  background-size: auto 25vh;

}

.navbar-container {
  grid-area: navbar;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin: 1vh 4vw 1vh 4vw;
  
}

.navbar{
  display: flex;
  background-color: rgba(250, 227, 198, .35);
  color: rgba(141, 245, 247, 1);
  font-size: 1.5rem;
  letter-spacing: .35rem;
  justify-self: flex-end;
  border: .5px solid rgba(255, 255, 255, .3);
  border-radius: .3rem;
  justify-content: center;
  padding: 1vh 1vw 1vh 1vw;
  box-shadow: 8px 5px 15px rgba(200, 162, 200, .75);
  font-family: "Moon 2.0 regular" , arial; 
}


#fifth {
  grid-area: footer;
  background-color: fuchsia;
}

#sixth {
  background-color: grey;
}

#seventh {
  background-color: blue;
}

#eighth {
  grid-area: footer;
  background-color: blueviolet;
}

#ninth {
  background-color: greenyellow;
}

#center {
  background-color: red; 
}